
<div id="userInfo" data-test=<%= user %>></div>

<div id="greeting"></div>
<h2>Search Post</h2>


<form action="/postId" method="POST">
    <label for="postId">Post ID</label>
    <input type="text" id="postId" name = "postId" required>
    <button>Search</button>
</form>


<script>
    var user = document.getElementById('userInfo').dataset.test;
    if(user.trim() != "") {
        localStorage.setItem('user_id', user);
    } else {
        var cachedUser = localStorage.getItem('user_id');
        if(cachedUser.trim() != "") {
            var user = cachedUser;
        }
    }
    //Set user and display in html greeting
    var header_div = document.getElementById('greeting');
    header_div.innerHTML = "<h1>Hello User "+ user + " </h1>";
console.log(localStorage)
</script>